@model MVC_PROJECT_e_Adminstrator.Models.Dep

@{
    ViewBag.Title = "addDep";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
    
}


<section id="main" class="container 75%">
    <header>
        <h2>Add Department</h2>
    </header>
    <div class="box">
        @using (Html.BeginForm("addDep", "Admin", FormMethod.Post))
        {

            <div class="row uniform 50%">
                <div class="6u 12u(mobilep)">
                    @Html.TextBoxFor(m => m.Dep_name, null, new { @placeholder = "Department Name" })
                </div>
            </div>

            <div class="row uniform 50%">
                <div class="6u 12u(mobilep)">
                    @Html.TextBoxFor(m => m.Dep_role, null, new { @placeholder = "Department Role" })
                </div>
            </div>

            <div class="row uniform 50%">
                <div class="6u 12u(mobilep)">

                    <input type="submit" value="Create" />
                    @Html.ActionLink("Go Back", "index", "Admin", new { @class = "button" })


                </div>
            </div>
        }

    </div>
</section>